---
---

@import "{{ site.theme }}";


body {
  font:14px/22px 'Courier New', monospace;
  color:#2b2b2b;
  font-weight:300;
  margin: 0px;
  padding:0px 0 20px 0px;
  background: #84b589;
}

#banner {
  background: #ffffff;
  } 


header {
 background: #84b589;
 min-height: 100vh;
 display: grid;
 align-content: center;
}
